<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782861384485-4gahbnk4q97n00vv1drlc8bdgfascdof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782861384485-4gahbnk4q97n00vv1drlc8bdgfascdof</string>
	<key>API_KEY</key>
	<string>AIzaSyDg7-EtoREMJOMtIFgu527D5XutaKs2XQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>782861384485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.client.register.app</string>
	<key>PROJECT_ID</key>
	<string>kpmgtest-50f22</string>
	<key>STORAGE_BUCKET</key>
	<string>kpmgtest-50f22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782861384485:ios:fa12e8da57fd48babc38cc</string>
</dict>
</plist>